@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-headline), sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 151 55% 42%;
    --primary-foreground: 151 50% 95%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 43 89% 60%;
    --accent-foreground: 43 100% 5%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 151 55% 42%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 151 55% 42%;
    --primary-foreground: 151 50% 95%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 43 89% 60%;
    --accent-foreground: 43 100% 5%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 151 55% 42%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
